h1{color:purple;}
h2{color:darkorchid;}
h3{color:darkorchid;}
h4{color:darkorchid;}
h5{color:darkorchid;}
p{color:blueviolet;}
h5{color:darkorchid;}
h6{color:darkorchid;}
body{background-color: lavender}
p{font-family:fantasy}
h1{font-family: fantasy;}
h2{font-family: fantasy;}
h3{font-family: fantasy;}
h3{font-family: fantasy;}
h4{font-family: fantasy;}
h5{font-family: fantasy;}
h6{font-family: fantasy;}
p{font-size:medium;}
li{font-family: fantasy;}
ul{font-family: fantasy; list-style-type: square ;}
h1{background-color:white}
h1{border-style:ridge;}
.p1{text-align: center;}
.p2{text-align: center;}
.p3{text-align: center;}
.p4{text-align: center;}
ul{text-align: center;}
li{text-align: center;}
.p5{text-align: center;text-indent: 5%;}